* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

nav {
    background-color: #111;
    padding: 15px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff4e4e;
}

h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 32px;
}

a {
    color: #ff4e4e;
}

a:hover {
    color: #ff7b7b;
}

.container{
    width: 80%;
    background-color: #9b9090;
    height: 500px;
    margin: 50px auto 50px auto;
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
}

.form-cadastro{
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 100px;
}